<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ccw.ruan.resume.mapper.TalentPortraitMapper">

    <select id="getTalentPortrait" resultType="ccw.ruan.common.model.pojo.TalentPortrait">
        select * from talent_portrait where name = #{name}
    </select>
</mapper>
